<div class="row">
    <div class="col-lg-offset-2 col-sm-6 col-md-6">
        <form class="form-horizontal">
            <fieldset>
                <legend>1DevDay2014 Login</legend>
                <div class="form-group">
                    <label class="control-label">Username:</label>

                    <div class="controls">
                        <input ng-model="username" name="username" required="" class="form-control" placeholder="Username..." type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Password:</label>
                    <div class="controls">
                        <input ng-model="password" required="" class="form-control" placeholder="Password..." type="password">
                    </div>
                </div>

                <div class="form-group">
                    <div class="controls">
                        <button class="btn btn-default btn-primary btn-lg" ng-click="login()">Login</button>
                        <button class="btn btn-default btn-danger btn-lg" ng-click="cancel()">Cancel</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
