<div>
    <div class="row">
        <div class="col-sm-offset-2">
            Search: <input type="text" ng-model="search">
            Colorize: <input type="text" ng-model="color">
        </div>
        <div class="col-sm-offset-2">
            Users:
            <ul>
                <li ng-repeat="user in users | filter:search"
                    ng-style="{'color': color}">
                    {{user.fullname}} ({{user.email}})
                </li>
            </ul>
        </div>
    </div>
    <div ui-view></div>
</div>
